.card {
  color: var(--black-primary);
  padding: 10px;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 0px;
}

.card:hover {
  bottom: 10px;
  transition: top ease 1s;
  cursor: pointer;
}

.img {
  width: 100px;
  height: 100px;
}

.listGroupItem {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.listGroupItem span {
  margin: 3px;
}
