.card {
  color: var(--black-primary);
  align-items: center;
  margin-bottom: 20px;
  border-radius: 0px;
  padding: 0;
  border: none;
}

.card:hover {
  bottom: 10px;
  transition: top ease 1s;
  cursor: pointer;
}

.img {
  width: 100%;
  border-radius: 0px;
}

.listGroupItem {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.listGroupItem span {
  margin: 3px;
}

div .h5 {
  padding: 100px;
}

.subtitle {
}

.card p {
  font-size: 0.75em;
  line-height: 1.4;
  font-weight: 100;
  color: var(--black-secondary);
}
