.card {
  color: var(--black-primary);
  border-radius: 0px;
  margin-left: 50px;
  position: fixed;
  top: 30px;
}

.container {
  display: flex;
  justify-content: center;
  padding: 80px;
}

.img {
  width: 100px;
  height: 100px;
}

ul {
  list-style-type: none;
}

.listItem {
  display: flex;
  flex-direction: column;
}
