.card {
  color: var(--black-primary);
  padding: 20px;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.img {
  width: 100px;
  height: 100px;
}

.listGroupItem {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
}
