.navBar {
  display: flex;
}

.navLinkContainer {
  list-style-type: none;
  padding: 20px;
}

.navLink {
  color: var(--text-color);
  text-decoration: none;
}

.navLink:hover {
  font-size: 22px;
}
