.button {
  background-color: var(--dark-pink);
  border: none;
  color: #fff;
  font-weight: 700;
  padding: 10px 20px;
}

.button:disabled {
  background-color: lightblue;
}

.button:hover {
  color: yellow;
  transform: rotate(3deg);
}

.button:disabled:hover {
  transform: rotate(0deg);
  color: #fff;
}
