.container {
  display: flex;
  flex-direction: column;
}

.tableHeader {
  background-color: #333;
  color: #fff;
}

.tableHeaderCell {
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

.tableRow:nth-child(even) {
  background-color: var(--black-secondary);
}

.tableCell,
.tableCellButtonContainer {
  padding: 20px;
}

.tableCellButtonContainer {
  display: flex;
  justify-content: space-evenly;
}

.image {
  width: 40px;
  height: 40px;
}
